# Projeto 2 - Ciência dos dados

### Integrantes do grupo: 
    João Victor Pazotti
    Rafael Alves Madarás
    Pedro Mahfuz
    Fillipo Ferraro
### Turma:
    2 - A

In [1]:
import pandas as pd

In [2]:
# importa Datasets usados no código

# indices de felicidade/ confiança no governo/ GDP/ etc 
f_2015_ = pd.read_csv("2015.csv")

# indices de corrupção
co = pd.read_csv("index.csv")

In [6]:
# muda nomes da tabela e filtra colunas irrelevantes
f_2015_.columns=["Country","Region","Happiness Rank","Happiness Score","Standard Error","GDP per Capita","Family",
                 "Life Expectancy","Freedom","Government Corruption (Trust)","Generosity","Dystopia Residual"]

tabela_nova = f_2015_.drop(columns=["Region","Standard Error","Family","Generosity","Dystopia Residual"])

# printa tabela_nova
tabela_nova

,Country,Happiness Rank,Happiness Score,GDP per Capita,Life Expectancy,Freedom,Government Corruption (Trust)
0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978
1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145
2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.48357
3,Norway,4,7.522,1.45900,0.88521,0.66973,0.36503
4,Canada,5,7.427,1.32629,0.90563,0.63297,0.32957
...,...,...,...,...,...,...,...
153,Rwanda,154,3.465,0.22208,0.42864,0.59201,0.55191
154,Benin,155,3.340,0.28665,0.31910,0.48450,0.08010
155,Syria,156,3.006,0.66320,0.72193,0.15684,0.18906
156,Burundi,157,2.905,0.01530,0.22396,0.11850,0.10062
157,Togo,158,2.839,0.20868,0.28443,0.36453,0.10731

In [7]:
# filtra colunas irrelevantes
tabela_corrupcao = co.loc[:,["Country","Corruption Perceptions Index (CPI)"]]

# printa tabela_corrupcao
tabela_corrupcao

           Country  Corruption Perceptions Index (CPI)
0      New Zealand                                  90
1          Denmark                                  90
2          Finland                                  89
3           Sweden                                  88
4      Switzerland                                  86
..             ...                                 ...
171          Sudan                                  14
172          Syria                                  13
173  Korea (North)                                  12
174    South Sudan                                  11
175        Somalia                                  10

[176 rows x 2 columns]

In [5]:
# junta tabela_nova e tabela_corrupcao
pd.merge(tabela_nova,tabela_corrupcao,on="Country")

,Country,Happiness Rank,Happiness Score,GDP per Capita,Life Expectancy,Freedom,Government Corruption (Trust),Corruption Perceptions Index (CPI)
0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978,86
1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145,78
2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.48357,90
3,Norway,4,7.522,1.45900,0.88521,0.66973,0.36503,85
4,Canada,5,7.427,1.32629,0.90563,0.63297,0.32957,82
...,...,...,...,...,...,...,...,...
143,Rwanda,154,3.465,0.22208,0.42864,0.59201,0.55191,54
144,Benin,155,3.340,0.28665,0.31910,0.48450,0.08010,36
145,Syria,156,3.006,0.66320,0.72193,0.15684,0.18906,13
146,Burundi,157,2.905,0.01530,0.22396,0.11850,0.10062,20
147,Togo,158,2.839,0.20868,0.28443,0.36453,0.10731,32