In [59]:
import pandas as pd

In [29]:
dados_universidade=pd.read_csv('cwurData.csv')
dados_universidade
filtra_us=dados_universidade['country']== 'USA'
filtra_us
dados_uni_us=dados_universidade.loc[filtra_us,:]
dados_uni_us

filtra_ano=dados_uni_us['year']==2015

dados_uni_ano=dados_uni_us.loc[filtra_ano,:]

dados_uni_ano

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
1200,1,Harvard University,USA,1,1,1,1,1,1,1,1.0,3,100.00,2015
1201,2,Stanford University,USA,2,9,2,4,5,3,3,4.0,10,98.66,2015
1202,3,Massachusetts Institute of Technology,USA,3,3,11,2,15,2,2,2.0,1,97.54,2015
1205,6,Columbia University,USA,4,13,6,9,13,13,11,12.0,4,96.14,2015
1206,7,"University of California, Berkeley",USA,5,5,21,6,10,4,4,7.0,29,92.25,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2100,901,University of Southern Mississippi,USA,225,367,567,218,913,853,812,850.0,676,44.13,2015
2105,906,Oakland University,USA,226,367,567,218,888,810,812,850.0,871,44.13,2015
2112,913,University of North Dakota,USA,227,367,567,218,917,731,812,867.0,606,44.12,2015
2128,929,University of Texas at El Paso,USA,228,367,442,218,910,838,812,906.0,706,44.10,2015
2135,936,"University of California, Merced",USA,229,367,567,218,899,540,812,906.0,491,44.09,2015

In [35]:
expectativa_vida=pd.read_csv('Life_Expectancy_Data.csv')
filtra_us=expectativa_vida['Country']== 'United States of America'
expectativa_vida_us=expectativa_vida.loc[filtra_us,:]

filtra_ano=expectativa_vida_us['Year']==2015

expectativa_vida_us=expectativa_vida_us.loc[filtra_ano,:]

expectativa_vida_us

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2794,United States of America,2015,Developed,79.3,13.0,23,NaN,0.0,92.0,188,...,93.0,NaN,95.0,0.1,NaN,NaN,0.8,0.6,NaN,NaN

In [64]:
crimes_armados=pd.read_csv('gun_violence.csv')
crimes_armados

crimes_armados_estados=crimes_armados.loc[:,['state']]
crimes_armados_estados['state'].value_counts(True)
crimes_armados_estados

                 state
0         Pennsylvania
1           California
2                 Ohio
3             Colorado
4       North Carolina
...                ...
239672       Louisiana
239673       Louisiana
239674       Louisiana
239675           Texas
239676           Maine

[239677 rows x 1 columns]

In [57]:
estados=pd.read_csv('states_all.csv')
estados
filtro=estados['YEAR']==2015

estados_2015=estados.loc[filtro,['ENROLL','PRIMARY_KEY']]
estados_2015

         ENROLL                PRIMARY_KEY
1173   734974.0               2015_ALABAMA
1174   130755.0                2015_ALASKA
1175   944978.0               2015_ARIZONA
1176   479682.0              2015_ARKANSAS
1177  6226523.0            2015_CALIFORNIA
1178   872320.0              2015_COLORADO
1179   505366.0           2015_CONNECTICUT
1180   121845.0              2015_DELAWARE
1181    46155.0  2015_DISTRICT_OF_COLUMBIA
1182  2743641.0               2015_FLORIDA
1183  1717805.0               2015_GEORGIA
1184   182384.0                2015_HAWAII
1185   274131.0                 2015_IDAHO
1186  2047123.0              2015_ILLINOIS
1187  1004215.0               2015_INDIANA
1188   505311.0                  2015_IOWA
1189   496920.0                2015_KANSAS
1190   688475.0              2015_KENTUCKY
1191   661015.0             2015_LOUISIANA
1192   176176.0                 2015_MAINE
1193   874108.0              2015_MARYLAND
1194   916130.0         2015_MASSACHUSETTS
1195  1345009.0              2015_MICHIGAN
1196   807044.0             2015_MINNESOTA
1197   490189.0           2015_MISSISSIPPI
1198   892779.0              2015_MISSOURI
1199   144447.0               2015_MONTANA
1200   312281.0              2015_NEBRASKA
1201   438948.0                2015_NEVADA
1202   183039.0         2015_NEW_HAMPSHIRE
1203  1339230.0            2015_NEW_JERSEY
1204   326297.0            2015_NEW_MEXICO
1205  2631532.0              2015_NEW_YORK
1206  1465031.0        2015_NORTH_CAROLINA
1207   106061.0          2015_NORTH_DAKOTA
1208  1600222.0                  2015_OHIO
1209   671715.0              2015_OKLAHOMA
1210   570376.0                2015_OREGON
1211  1589429.0          2015_PENNSYLVANIA
1212   134574.0          2015_RHODE_ISLAND
1213   737401.0        2015_SOUTH_CAROLINA
1214   132836.0          2015_SOUTH_DAKOTA
1215   994530.0             2015_TENNESSEE
1216  5004866.0                 2015_TEXAS
1217   573913.0                  2015_UTAH
1218    85184.0               2015_VERMONT
1219  1279867.0              2015_VIRGINIA
1220  1072359.0            2015_WASHINGTON
1221   279565.0         2015_WEST_VIRGINIA
1222   861813.0             2015_WISCONSIN
1223    93867.0               2015_WYOMING
1658        NaN                 2015_DODEA
1659        NaN              2015_NATIONAL

In [68]:
merged = pd.merge(dados_uni_ano, expectativa_vida_us)

#merged2 = pd.merge(merged, crimes_armados_estados, on=['state'], how='left')
#merged3 = pd.merge(merged2, estados_2015, on=['PRIMARY_KEY'], how='left')

TypeError: object of type 'NoneType' has no len()